*{
	margin: 0;
	padding: 0;
}
.nav2{
	margin-right: 50px;
}
.login{
	width: 113px;
}
.bg-color{
	background-color: #E5E5E5;
	
}
.back{
	background-image: url("https://ibb.co/jTdKyJw");
	background-repeat: no-repeat;
	background-size: cover;
	height: 474px;
    margin-top: 108px;
}

.margin{
    margin: 14px;
}
#result{
	display: none;
}
